@import "mixins.scss";

.button {
  position: fixed;
  width: fit-content;
  height: fit-content;
  right: 0.5rem;
  bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  display: none;

  &:hover {
    color: var(--primary);
  }
}

@include mdMediaQuery {
  .button {
    display: block;
  }
}

@include xlMediaQuery {
  .button {
    right: 2rem;
  }
}