.heading1 {
  font-size: 1.875em;
  margin: 1.3rem 0;
}
.heading2 {
  font-size: 1.5rem;
  margin: 1.15rem 0;
}
.heading3 {
  font-size: 1.25rem;
  margin: 1rem 0;
}

.quote {
  border-left: 3px solid currentcolor;
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
  margin: 10px 0;
}
