/**
 * One Light theme for prism.js
 * Based on Atom's One Light theme: https://github.com/atom/atom/tree/master/packages/one-light-syntax
 */

/**
 * One Light colours (accurate as of commit eb064bf on 19 Feb 2021)
 * From colors.less
 * --mono-1: hsl(230, 8%, 24%);
 * --mono-2: hsl(230, 6%, 44%);
 * --mono-3: hsl(230, 4%, 64%)
 * --hue-1: hsl(198, 99%, 37%);
 * --hue-2: hsl(221, 87%, 60%);
 * --hue-3: hsl(301, 63%, 40%);
 * --hue-4: hsl(119, 34%, 47%);
 * --hue-5: hsl(5, 74%, 59%);
 * --hue-5-2: hsl(344, 84%, 43%);
 * --hue-6: hsl(35, 99%, 36%);
 * --hue-6-2: hsl(35, 99%, 40%);
 * --syntax-fg: hsl(230, 8%, 24%);
 * --syntax-bg: hsl(230, 1%, 98%);
 * --syntax-gutter: hsl(230, 1%, 62%);
 * --syntax-guide: hsla(230, 8%, 24%, 0.2);
 * --syntax-accent: hsl(230, 100%, 66%);
 * From syntax-variables.less
 * --syntax-selection-color: hsl(230, 1%, 90%);
 * --syntax-gutter-background-color-selected: hsl(230, 1%, 90%);
 * --syntax-cursor-line: hsla(230, 8%, 24%, 0.05);
 */

.light code[class*="language-"],
.light pre[class*="language-"] {
  background: hsl(230, 1%, 98%);
  color: hsl(230, 8%, 24%);
  font-family: "Fira Code", "Fira Mono", Menlo, Consolas, "DejaVu Sans Mono",
    monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Selection */
.light code[class*="language-"]::-moz-selection,
.light code[class*="language-"] *::-moz-selection,
.light pre[class*="language-"] *::-moz-selection {
  background: hsl(230, 1%, 90%);
  color: inherit;
}

.light code[class*="language-"]::selection,
.light code[class*="language-"] *::selection,
.light pre[class*="language-"] *::selection {
  background: hsl(230, 1%, 90%);
  color: inherit;
}

/* Code blocks */
.light pre[class*="language-"] {
  padding: 1em;
  overflow: auto;
  border-radius: 0.3em;
}

/* Inline code */
:not(pre).light > code[class*="language-"] {
  padding: 0.2em 0.3em;
  border-radius: 0.3em;
  white-space: normal;
}

.light .token.comment,
.light .token.prolog,
.light .token.cdata {
  color: hsl(230, 4%, 64%);
}

.light .token.doctype,
.light .token.punctuation,
.light .token.entity {
  color: hsl(230, 8%, 24%);
}

.light .token.attr-name,
.light .token.class-name,
.light .token.boolean,
.light .token.constant,
.light .token.number,
.light .token.atrule {
  color: hsl(35, 99%, 36%);
}

.light .token.keyword {
  color: hsl(301, 63%, 40%);
}

.light .token.property,
.light .token.tag,
.light .token.symbol,
.light .token.deleted,
.light .token.important {
  color: hsl(5, 74%, 59%);
}

.light .token.selector,
.light .token.string,
.light .token.char,
.light .token.builtin,
.light .token.inserted,
.light .token.regex,
.light .token.attr-value,
.light .token.attr-value > .token.punctuation {
  color: hsl(119, 34%, 47%);
}

.light .token.variable,
.light .token.operator,
.light .token.function {
  color: hsl(221, 87%, 60%);
}

.light .token.url {
  color: hsl(198, 99%, 37%);
}

/* HTML overrides */
.light .token.attr-value > .token.punctuation.attr-equals,
.light .token.special-attr > .token.attr-value > .token.value.css {
  color: hsl(230, 8%, 24%);
}

/* CSS overrides */
.light .language-css .token.selector {
  color: hsl(5, 74%, 59%);
}

.light .language-css .token.property {
  color: hsl(230, 8%, 24%);
}

.light .language-css .token.function,
.light .language-css .token.url > .token.function {
  color: hsl(198, 99%, 37%);
}

.light .language-css .token.url > .token.string.url {
  color: hsl(119, 34%, 47%);
}

.light .language-css .token.important,
.light .language-css .token.atrule .token.rule {
  color: hsl(301, 63%, 40%);
}

/* JS overrides */
.light .language-javascript .token.operator {
  color: hsl(301, 63%, 40%);
}

.light
  .language-javascript
  .token.template-string
  > .token.interpolation
  > .token.interpolation-punctuation.punctuation {
  color: hsl(344, 84%, 43%);
}

/* JSON overrides */
.light .language-json .token.operator {
  color: hsl(230, 8%, 24%);
}

.light .language-json .token.null.keyword {
  color: hsl(35, 99%, 36%);
}

/* MD overrides */
.light .language-markdown .token.url,
.light .language-markdown .token.url > .token.operator,
.light .language-markdown .token.url-reference.url > .token.string {
  color: hsl(230, 8%, 24%);
}

.light .language-markdown .token.url > .token.content {
  color: hsl(221, 87%, 60%);
}

.light .language-markdown .token.url > .token.url,
.light .language-markdown .token.url-reference.url {
  color: hsl(198, 99%, 37%);
}

.light .language-markdown .token.blockquote.punctuation,
.light .language-markdown .token.hr.punctuation {
  color: hsl(230, 4%, 64%);
  font-style: italic;
}

.light .language-markdown .token.code-snippet {
  color: hsl(119, 34%, 47%);
}

.light .language-markdown .token.bold .token.content {
  color: hsl(35, 99%, 36%);
}

.light .language-markdown .token.italic .token.content {
  color: hsl(301, 63%, 40%);
}

.light .language-markdown .token.strike .token.content,
.light .language-markdown .token.strike .token.punctuation,
.light .language-markdown .token.list.punctuation,
.light .language-markdown .token.title.important > .token.punctuation {
  color: hsl(5, 74%, 59%);
}

/* General */
.light .token.bold {
  font-weight: bold;
}

.light .token.comment,
.light .token.italic {
  font-style: italic;
}
