.footer {
  width: 100%;
  padding: var(--gap);
  margin: auto;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  color: var(--muted-color);
}
@media (min-width: 576px) {
  .footer {
    max-width: 510px;
  }
}
@media (min-width: 768px) {
  .footer {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .footer {
    max-width: var(--main-width);
  }
}
.footer span {
  margin: 0 15px;
}
.footer a {
  text-decoration: underline;
}
.footer a:hover {
  color: var(--primary);
}

@media (max-width: 768px) {
  .footer .powered_by {
    display: none;
  }
}