@import url("@/styles/prism/material-ocean.css");
@import url("@/styles/prism/one-light.css");
:root {
  --gap: 24px;
  --main-width: 720px;
  --font-family: unset;
}
:root:not([data-theme="dark"]),
[data-theme="light"] {
  --background-color: rgb(245, 245, 245);
  --card-background-color: rgb(255, 255, 255);
}
[data-theme="dark"] {
  --background-color: rgb(29, 30, 32);
  --card-background-color: rgb(46, 46, 51);
  --muted-border-color: rgb(51, 51, 51);
}

body {
  background-color: var(--background-color);
}

main.main {
  width: 100%;
  padding: var(--gap);
  --font-size: 15px;
}
@media (min-width: 576px) {
  main.main {
    max-width: 510px;
  }
}
@media (min-width: 768px) {
  main.main {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  main.main {
    max-width: var(--main-width);
    --font-size: 16px;
  }
}
@media (min-width: 1200px) {
  main.main {
    --font-size: 17px;
  }
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d3d1cb;
}
::-webkit-scrollbar-thumb:hover {
  background: #aeaca6;
}
::-webkit-scrollbar-track {
  background: #edece9;
}
[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #666562;
}
[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #464543;
}
[data-theme="dark"] ::-webkit-scrollbar-track {
  background: #302f2f;
}
