:root {
  --gap: 24px;
  --main-width: 720px;
}
:root:not([data-theme="dark"]),
[data-theme="light"] {
  --background-color: rgb(245, 245, 245);
}
[data-theme="dark"] {
  --background-color: rgb(29, 30, 32);
  --card-background-color: rgb(46, 46, 51);
}

.screen {
  min-width: 100vw;
  min-height: 100vh;
  background-color: var(--background-color);
}

main.main {
  width: 100%;
  padding: var(--gap);
}
@media (min-width: 576px) {
  main.main {
    max-width: 510px;
  }
}
@media (min-width: 768px) {
  main.main {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  main.main {
    max-width: var(--main-width);
  }
}
