.title {
  font-size: 24px;
  color: var(--h1-color);
}
.title:hover {
  color: var(--primary);
}

.buttons {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.buttons > li > a {
  margin-top: -5px;
}
.button {
  color: var(--h1-color);
}
.button:hover {
  color: var(--primary);
}
