.posts {
  display:flex;
  margin: 7px 0;
  flex-direction: column;
  align-items: center;

  .post {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
    margin: 12px 0;
    width: 100%;
    background-color: var(--card-background-color);
    border: 1px solid var(--muted-border-color);
    border-radius: var(--border-radius);

    > hgroup {
      margin-bottom: 7px;
    }

    h1 {
      font-size: 21px;
      margin-bottom: 7px;
    }

    h2 {
      font-size: 14px;
      margin-bottom: 0;
    }

    .tags {
      padding: 0;
      margin-bottom: 7px;
      z-index: 999;

      li {
        list-style: none;
        float: left;
        font-size: 12px;
        margin-right: 9px;
        margin-bottom: 0;
        font-weight: 900;

        &:hover {
          color: var(--primary);
        }
      }
    }

    .additional {
      color: var(--color);
      font-size: 12px;
      margin-bottom: 0;
      text-align: start;
    }

    .link {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}

.navigator {
  width: 95%;
  margin-top: 12px;

  > .button {
    color: var(--color);
    font-weight: 900;
    font-size: 15px;
    width: fit-content;

    &:hover {
      color: var(--primary);
    }
  }
}

.searchfield {
  font-size: 15px;
  color: var(--color);
  --form-element-spacing-vertical: 0.5rem;
  --form-element-spacing-horizontal: 0.75rem;
}